@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  font-family: 'Montserrat', sans-serif;
}
.logo_menu{
  text-transform: uppercase;
  position: relative;
  left: 1.40%;
  right: 0%;
  top: 1.21%;
  bottom: 1.33%;
  font-size: 12px;
  letter-spacing: 20px;
  color:  #080B13;
}
.nav_list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 50px;
  gap: 80px;
  text-transform: uppercase;
  font-size: 15px;
}
.link{
  text-decoration: none;
  color: #080B13;
}
h4{
  font-size: 20px;
  text-transform: uppercase;
}
@media (max-width: 690px) {
  .nav_list{
      display:none;
  }
}
